@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-bg: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  --text-black: #434343;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Red Rose';
}

.app {
  padding: 20px;
  max-width: 1240px;
}

.nav_logo{
  max-width: 1240px;
}

.logo_icon img {
  height: 35px;
}

.btn_connect button {
  font-family: inherit;
  background: var(--purple-bg);
  color: #fff;
  width: 170px;
  height: 48px;
}

.btn_connect button:hover,
.btn_search:hover{
  background: #630e48;
}

.search_box{
  width: 90%;
}

.search_box input {
  height: 54px;
  width: 80%;
}

.search_box input[placeholder] {
  padding: 0 0 0 10px;
}

.btn_search {
  width: 10%;
  height: 54px;
  background: var(--purple-bg);
  color: #fff;
  width: 230px;
}

.hero_intro span {
  font-weight: 600;
  color: #A02279;
}

.hero_desc {
  font-weight: 400;
  color: var(--text-black);
  line-height: 35px !important;
}

#wallets {
  background: var(--purple-bg);
}

.nft_card {
  border: 1px solid #D7D7D7;
  min-height: 355px;
  box-sizing: border-box;
}

.nft_img {
  width: 100%;
  height: 80%;
}

.nft_img img {
  width: 100%;
  height: 100%;
}

.nft_details p {
  font-size: 12px;
  color: var(--text-black);
  line-height: 13px;
}

#more-nfts {
  background: var(--purple-bg);
  min-height: 700px;
  box-sizing: border-box;
}

.more_nft img {
  width: 100%;
}

.btn_learn button {
  background: #fff;
  color: #A02279;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
}

.foot_links h3{
  line-height: 35px;
}

.foot_links p{
  color: #F1F3F9 !important;
  line-height: 35px;
}

@media screen and (min-width: 768px) {
  .more_nft img{
    width: 704px;
  }
  .hero_intro {
    line-height: 130% !important;
  }
}
@media screen and (min-width: 1024px) {
  .hero_intro {
    line-height: 140% !important;
  }
}